@page "/Account/Check"
@inject IAccountService _accountService;

@attribute [Authorize]

<h3>Check</h3>

<strong>@Result</strong>

@code {

    public string? Result { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Result = await _accountService.CheckAccount();
    }
}
