@page "/Account/Login"
@inject NavigationManager _navigationManager
@inject IAccountService _accountService;

<PageTitle>Login</PageTitle>


<p>Please enter your details below.</p>

<EditForm Model="@userAuthenticationDTO" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <InputText class="form-control" id="Email" @bind-Value="userAuthenticationDTO.Email" placeholder="Email" />
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <InputText class="form-control" id="Password" @bind-Value="userAuthenticationDTO.Password" placeholder="Password" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

@code {
    private UserAuthenticationDTO userAuthenticationDTO = new();

    private async Task HandleValidSubmit()
    {
        var result = await _accountService.Login(userAuthenticationDTO);

        if (result.Success)
        {
            _navigationManager.NavigateTo("/Account/Check");
        }
    }
}