@page "/Athlete/Index"
@attribute [Authorize(Roles = "Athlete")]

<PageTitle>Athlete Home</PageTitle>
<h1>Welcome to your dashboard</h1>

Testing including other razor pages as components.

<Check />

<Details />

<CoachDetails />

@code {

}
