@page "/Athlete/Index"
@attribute [Authorize(Roles = "Athlete")]

<PageTitle>Athlete Home</PageTitle>

    <div class="container">
    <h1>Welcome to your dashboard</h1>

    Testing including other razor pages as components.

        <div class="row">
            <div class="col">
                <Details />
            </div>
            <div class="col">
                <CoachDetails />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <Sessions />
            </div>
        </div>
    </div>

@code {

}
